.about {
  vertical-align: center;
  margin: 0 auto;
}

.info {
  float: left;
  padding: 20px 120px 30px 250px;
  border-right: 1px solid rgb(75, 12, 15);
  margin: 110px auto;
  width: 50%;
}
.about aside {
  float: left;
  width: 50%;
}
.about aside img {
  width: 46%;
  margin: 110px 200px 110px auto;
}

.about h1 {
  font-weight: 300;
  font-size: 30px;
  color: rgb(75, 12, 15);
}
.about h2 {
  font-weight: 300;
  font-size: 25px;
  color: rgb(75, 12, 15);
}

.about h3 {
  font-weight: 300;
  font-size: 20px;
  color: rgb(75, 12, 15);
}
