* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
}
.container {
  display: flex;
  width: 90vw;

  margin: 0 auto;
  flex-direction: column;
  height: 100vh;

  font-family: "Catamaran", "Helvetica", "Arial" sans-serif;
  text-align: center;
}
