.info_contact {
  float: left;
  padding: 30px 250px 30px 120px;
  border-left: 1px solid rgb(75, 12, 15);
  margin: 6vw auto;
  width: 50%;
  height: 40%;
}
@media (max-width: 1360px) {
  .info_contact {
    padding-right: 100px;
    padding-left: 80px;
    margin-top: 7vw;
  }
}
.contact aside {
  float: left;
  width: 50%;
}
.contact aside img {
  width: 50%;
  margin: 7vw auto 110px 200px;
}
@media (max-width: 1700px) {
  .contact aside img {
    margin-top: 9vw;
  }
}
@media (max-width: 1360px) {
  .contact aside img {
    width: 60%;
    margin-left: 100px;
    margin-right: auto;
  }
}
@media (max-width: 1000px) {
  .contact aside img {
    width: 70%;
    margin-left: 50px;
    margin-top: 12vw;
  }
}

.contact h1 {
  font-weight: 300;
  font-size: 30px;
  color: rgb(75, 12, 15);
  margin-bottom: 25px;
}
@media (max-width: 1360px) {
  .contact h1 {
    font-size: 25px;
  }
}

.contact h2 {
  font-weight: 300;
  font-size: 25px;
  color: rgb(75, 12, 15);
}

.contact h3 {
  font-weight: 300;
  font-size: 20px;
  color: rgb(75, 12, 15);
}
.adresses {
  margin-top: 80px;

  text-align: left;
}
.adresses p {
  margin-bottom: 5px;
  font-size: 16px;
}
@media (max-width: 1360px) {
  .adresses p {
    font-size: 14px;
  }
}
.contact_icon {
  font-size: 30px;
  padding-bottom: 3.5px;
  padding-right: 10px;
}
.firm {
  margin-top: 50px;
  font-size: 17px;
  color: rgb(75, 12, 15);
}
@media (max-width: 1360px) {
  .afirm {
    font-size: 15px;
  }
}
.firm p {
  margin-bottom: 3px;
}
.firm p:first-child {
  font-weight: 500;
}
