.footer {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  padding: 10px 163px;
}
.footer p {
  margin-bottom: 0px;
}
