@media (max-width: 640px) {
  .header {
    text-align: left;
    margin-left: 14px;
  }
}

.logo {
  width: 150px;
  margin-top: 15px;
}

@media (max-width: 640px) {
  .logo {
    width: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.main_nav {
  text-align: center;
}

.main_nav ul {
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 13px;
}
.main_nav li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px 40px;
}
.main_nav li a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.main_nav li a:hover {
  color: rgb(241, 175, 37);
}
.main_nav li a.active {
  color: rgb(241, 175, 37);
}

/* MOBILE */
.mobile {
  line-height: 1.4;
  position: fixed;
  font-size: 1.8rem;
  top: 0px;
  right: 28px;
  text-align: right;
  width: 100vw;
  z-index: 10;
  color: rgb(241, 175, 37);
}
