.nav_mob {
  width: 100vw;

  margin-left: 0;

  vertical-align: middle;
}
.nav_mob div {
  background-color: rgb(20, 20, 20, 0.9);
  text-align: left;
  padding: 5px 18px 10px 18px;

  text-transform: uppercase;

  border-top: 0.3px solid rgb(234, 235, 227, 0.5);
}
.nav_mob div a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(234, 235, 227);
}
.nav_mob div a:hover {
  color: rgb(241, 175, 37);
}

.nav_mob div a.active {
  color: rgb(241, 175, 37);
}
