.offer {
  margin: 15px 250px;
}
@media (max-width: 1280px) {
  .offer {
    margin: 15px 150px;
    text-indent: 20px;
  }
}
@media (max-width: 1024px) {
  .offer {
    margin: 15px 100px;
    text-indent: 20px;
  }
}
@media (max-width: 770px) {
  .offer {
    margin: 1px 60px;
  }
}

@media (max-width: 660px) {
  .offer {
    text-indent: 0px;
    margin: 15px 40px;
  }
}
.offer p {
  /* text-indent: 120px; */
  font-size: 15px;
  margin: 0;
}
@media (max-width: 850px) {
  .offer p {
    font-size: 13px;
  }
}
@media (max-width: 670px) {
  .offer p {
    font-size: 12px;
  }
}
.photos_offer {
  /* overflow: hidden; */
  margin: 40px auto;
  max-width: 1700px;
}
@media (max-width: 1024px) {
  .photos_offer {
    max-width: 800px;
  }
}
.contain_overlay {
  width: 33.3%;
  float: left;
}
@media (max-width: 650px) {
  .contain_overlay {
    float: none;
    width: 100%;
    /* margin: 0 auto; */
    /* width: 100vw; */
  }
}
.overlay {
  font-family: p22-pouty-pro, sans-serif;
  position: relative;
  width: 26vw;
  height: 32vw;
  margin: 0 auto;
  background-color: #15100c;
}
@media (max-width: 650px) {
  .overlay {
    width: 80vw;
    height: 98.72vw;
    margin: 20px auto;
  }
}
.overlay h1 {
  position: absolute;
  top: 19vw;
  left: 0;
  width: 100%;
  margin: 0 auto;
  color: #eaebe3;
  font-size: 3vw;
  font-weight: 400;

  font-style: normal;
}
@media (max-width: 650px) {
  .overlay h1 {
    top: 59vw;
    font-size: 8vw;
  }
}
.photos_offer img {
  object-fit: cover;
  width: 26vw;
  opacity: 0.6;
}
@media (max-width: 650px) {
  .photos_offer img {
    width: 80vw;
  }
}
